.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.block_title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.btnContainer {
  display: flex;
  justify-content: center;
  // margin-top: 25px;
}
.addbtn {
  background-color: #956fa1;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  width: 34px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-right: 15px;
}
.listContainer {
  // background-color:#9DC88D;

  // font-size: 1.5rem;
  // margin: 25px 30px 0px;
  // padding: 40px;
  // border-radius: 25px;
  // width: fit-content

  font-size: 1.5rem;
  margin-bottom: 14px;
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  position: relative;
  max-width: 400px;
  text-align: center;
}

.listContainer {
  // &:nth-child(1){
  //     background-color: 	#552583
  // }

  //  &:nth-child(even) {
  //     background-color: #ff414e;
  // }

  a {
    color: white;
  }
}
//

div.listContainer:nth-child(3n + 1) {
  background-color: #f7a8b0;
}

div.listContainer:nth-child(3n + 2) {
  background-color: #de7684;
}

div.listContainer:nth-child(3n + 3) {
  background-color: #ac687c;
}

.listLink,
.listLink:visited {
  text-decoration: none;
}

.btn {
  // height: 25px;
  // width: 25px;
  // background-color: black;
  // color: white;
  // border-radius: 50%;
  // padding: 5px;
  // z-index: 1;
  // position: absolute;
  // right: 40px;
  height: 25px;
  width: 25px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  font-weight: bold;
  border: none;
}

.imgContainer {
  margin: 0 auto;
}

.listSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.img {
  width: 250px;
  margin-top: 40px;
}
@media (min-width: 750px) {
  .listContainer {
    margin: 10px auto 0px;
  }
}
