.container { 
    // border: 50px solid red;
    // height: 350px;
    // padding: 100px;
    // width: 50%;
    // margin: 50px auto 0px;

.results  { 
    color: black;
    font-weight: 700;
    font-size:16px;
    margin-left:20px;
    }
}

