.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noListMessage {
  text-align: center;
  padding: 20px;
}

.containerBtn {
  padding-top: 10px;
  margin-bottom: 50px;
}

.playbtn {
  background-color: #ff8928;
  width: 50px;
  height: 25px;
  margin: 10px 0px;
}

.pageTitle {
  margin-bottom: 20px;
}
.pageTitleContent {
  // margin-top: 20px;
  // font-size: 28px;
  // font-weight: bold;
  //   margin: 25px 30px 0px;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  position: relative;
  max-width: 400px;
  background: #fe5922;
  margin: 0 auto;
  text-align: center;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   width: 100%;
  //   padding: 30px;
}

.btn {
  //   background-color: #ff8928;
  //   border: none;
  //   color: white;
  //   font-size: 16px;
  //   cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: -1px;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  font-weight: bold;
  border: none;
  position: absolute;
}

.itemList {
  border-radius: 25px;
  padding: 15px;
  display: flex;
  margin-bottom: 10px;
  background-color: #6dd47e;
  position: relative;
}
.listText {
  flex: 1;
}
.listContent {
  margin: 0 auto 20px;
  padding-right: 15px;
  text-align: justify;
  max-width: 400px; // use this as it helps with mobile first styling
}

// .homeContainer {
//     display:flex;
//     flex-direction: column;
// }

@media (min-width: 1024px) {
  .slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .playbtn {
    margin: 0 10px;
  }

  .noListMessage {
    margin-top: 50px;
  }
}
