.container {
  padding: 0 15px 15px;
  max-width: 1024px;
  margin: 0 auto;
}

.dateContainer {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
}
.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  gap: 15px;
}

.noListMessage {
  text-align: center;
  padding: 20px;
}

.containerBtn {
  padding-top: 10px;
  margin-bottom: 50px;
}

.playbtn {
  // background-color: #dcabdd;
  // width: 50px;
  // height: 25px;
  // margin: 10px 0px;
  // border: 2px solid black;
  border: 2px solid black;
  background-color: #dcabdd;
  color: black;
  padding: 15px;
  border-radius: 5px;
  width: 50px;
}

.pageTitle {
  margin-bottom: 20px;
}
.pageTitleContent {
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  position: relative;
  max-width: 400px;
  background-color: #d6b7db;
  margin: 0 auto;
  text-align: center;
}

.btn {
  width: 36px;
  background-color: transparent;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translate(50%, -50%);
  font-weight: bold;
  border: none;
}

.itemList {
  border-radius: 25px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #decac9;
  position: relative;
}
.listText {
  flex: 1;
}
.listContent {
  margin: 0 auto 20px;
  text-align: justify;
  max-width: 400px; // use this as it helps with mobile first styling
}

input[type="checkbox"] {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  accent-color: #9b59b6;
}
// .homeContainer {
//     display:flex;
//     flex-direction: column;
// }

@media (min-width: 1024px) {
  .slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }

  .playbtn {
    margin: 0 10px;
  }

  .noListMessage {
    margin-top: 50px;
  }
}
